.contact-main {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.contact-main-head {
    text-align: center;
}

.contact-form form {
    text-align: left;
    
}

.contact-form label {
    display: block;
    margin: 10px 0;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #007acc;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005c99; /* Darker blue on hover */
}