.header {
  padding: 5px;
  padding-left: 20px;
  padding-right: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 10px;
  height: 50px;
}

.navbar-logo img {
  height: 40px;
  margin-right: 20px;
}

.navbar-brand h3 {
  height: 40px;
  margin-right: 20px;
  color: black;
  display: inline;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin: 0;
  padding: 0;
  margin-left: 80px;
}

.nav-item-link {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}